################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/clientapp/client/src/contracts
/PunksMultiverseApi/PunksMultiverseApi/PunksMultiverseApi/bin/Debug/net5.0
/PunksMultiverseApi/PunksMultiverseApi/PunksMultiverseApi/bin/Debug/net5.0
/PunksMultiverseApi/PunksMultiverseApi/PunksMultiverseApi/obj/
